@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  height: 100vh;
  background: url("../img/desktop_new.jpg") no-repeat center center/cover;
  letter-spacing: 0.07em;
  max-width: 1580px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.about-main-block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 38.7%;
  top: 0;
  left: 0%;
  z-index: 10;
  -webkit-transition: .2s;
  transition: .2s;
}

.about-wrap-block {
  width: 0;
  height: 100vh;
  -webkit-transition: .2s;
  transition: .2s;
  background: rgba(0, 0, 0, 0.72);
  transition: .2s;
}

.about-block-foto {
  width: 100%;
  height: 100%;
  background: url("../img/me.png") no-repeat center center/cover;
  opacity: .82;
}

.about-me-info-block {
  position: absolute;
  display: block;
  width: 90.7%;
  right: 60px;
  bottom: 0;
  font-size: 16px;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.72);
  color: #fff;
  text-indent: 1.8em;
  padding: 20px 20px;
  margin-right: 90%;
  -webkit-transition: 0.11s;
  transition: 0.11s;
}

.about-me-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 100vh;
  border-right: 1px solid rgba(170, 170, 170, 0.15);
  border-left: 1px solid rgba(170, 170, 170, 0.07);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 5;
}

.about-me-link:hover {
  cursor: pointer;
  -webkit-box-shadow: 10px 1px 15px -11px rgba(170, 170, 170, 0.73);
          box-shadow: 10px 1px 15px -11px rgba(170, 170, 170, 0.73);
  -webkit-transition: .2s;
  transition: .2s;
}

.about-me-link:hover .about-me-text span {
  color: #c48112;
  -webkit-transition: .2s;
  transition: .2s;
}

.about-me-text {
  display: block;
  width: 100px;
  height: 35px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 24px;
  font-weight: 100;
  color: #aaa;
}

.social-block {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 100vh;
  border-left: 1px solid rgba(170, 170, 170, 0.15);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 15;
}

.social-block-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-block-icon {
  display: block;
  width: 40px;
  height: 40px;
}

.skype {
  background: url("../img/skype_cop.png") no-repeat center center/cover;
  -webkit-transition: .2s;
  transition: .2s;
}

.skype:hover {
  background: url("../img/skype_web.png") no-repeat center center/cover;
  -webkit-transition: .2s;
  transition: .2s;
}

.instagram {
  background: url("../img/inst_cop.png") no-repeat center center/cover;
  -webkit-transition: .2s;
  transition: .2s;
}

.instagram:hover {
  background: url("../img/inst_web.png") no-repeat center center/cover;
  -webkit-transition: .2s;
  transition: .2s;
}

.vk {
  background: url("../img/vk_cop.png") no-repeat center center/cover;
  -webkit-transition: .2s;
  transition: .2s;
}

.vk:hover {
  background: url("../img/vk_web.png") no-repeat center center/cover;
  -webkit-transition: .2s;
  transition: .2s;
}

.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(170, 170, 170, 0.15);
}

.icon-circle:hover {
  -webkit-transform: translate(2px, -2px);
          transform: translate(2px, -2px);
  border: 1px solid rgba(196, 129, 18, 0.15);
  -webkit-box-shadow: -3px 3px 2px 0px rgba(196, 129, 18, 0.5);
          box-shadow: -3px 3px 2px 0px rgba(196, 129, 18, 0.5);
}

.icon-circle:hover:nth-child(2) {
  -webkit-transform: translate(2px);
          transform: translate(2px);
  -webkit-box-shadow: -3px 0px 2px 1px rgba(196, 129, 18, 0.5);
          box-shadow: -3px 0px 2px 1px rgba(196, 129, 18, 0.5);
}

.icon-circle:hover:nth-child(3) {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: -3px -3px 2px 0px rgba(196, 129, 18, 0.5);
          box-shadow: -3px -3px 2px 0px rgba(196, 129, 18, 0.5);
}

.cop-rect {
  position: absolute;
  top: 19%;
  left: 14%;
  width: 71%;
  height: 150px;
  border: 1px solid #c48112;
  z-index: 9;
}

.offer-block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 23%;
  left: 22%;
  z-index: 15;
}

.main-left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.h1 {
  font-size: 45px;
  font-weight: 300;
  color: #fff;
}

.h1 span {
  color: #c48112;
}

.job-text {
  font-size: 24px;
  font-weight: 300;
  color: #aaa;
}

.main-right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-desc {
  font-size: 16px;
  font-weight: 200;
  color: #aaa;
  margin-top: 15px;
}

.phone {
  display: block;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.phone span {
  color: #c48112;
}

.phone:hover {
  color: #c48112;
  -webkit-transition: .2s;
  transition: .2s;
}

.portfolio-block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  top: 50%;
  left: 17%;
  z-index: 15;
}

.port-item {
  display: block;
  width: 260px;
  height: 330px;
  border: 1px solid #c48112;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  -webkit-transition: .2s;
  transition: .2s;
}

.port-item:hover {
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.port-site1 {
  background: url("../img/HungryPeople_min.jpg") no-repeat center top/cover;
}

.port-site1:hover + .num-port1 {
  -webkit-transition: .2s;
  transition: .2s;
  color: rgba(196, 129, 18, 0.8);
}

.port-site2 {
  background: url("../img/Resume_port.jpg") no-repeat center top/cover;
}

.port-site2:hover + .num-port2 {
  -webkit-transition: .2s;
  transition: .2s;
  color: rgba(196, 129, 18, 0.8);
}

.port-site3 {
  background: url("../img/Pizza.jpg") no-repeat center top/cover;
}

.port-site3:hover + .num-port3 {
  -webkit-transition: .2s;
  transition: .2s;
  color: rgba(196, 129, 18, 0.8);
}

.num_port {
  position: absolute;
  font-size: 230px;
  font-weight: 400;
  color: rgba(196, 129, 18, 0.5);
  z-index: -1;
  -webkit-transition: .2s;
  transition: .2s;
}

.num-port1 {
  top: -25%;
  left: -7.3%;
}

.num-port2 {
  top: -25%;
  left: 28%;
}

.num-port3 {
  top: -25%;
  left: 65%;
}

.footer {
  position: absolute;
  bottom: 3px;
  left: 81.3%;
  font-size: 12px;
  font-weight: 200;
  color: #fff;
}

.footer span {
  color: #c48112;
}

.close {
  display: none;
  position: absolute;
  right: 21%;
  top: 2%;
  width: 32px;
  height: 32px;
  opacity: 0.4;
}

.close:hover {
  opacity: .8;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #c48112;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.social-alarm {
  position: absolute;
  visibility: hidden;
  top: 48%;
  right: 4%;
  padding: 5px 25px;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.5);
  color: #c48112;
  z-index: 15;
}

.active {
  display: block;
  -webkit-transition: .2s;
  transition: .2s;
}

.active-wrap {
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.left {
  left: 0;
}

.z-index {
  z-index: -1;
}

.resume-link {
  display: block;
  width: 170px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(196, 129, 18, 0.7);
  -webkit-transition: .2s;
  transition: .2s;
  margin: 40px 0 40px;
}

.resume-link:hover {
  color: #c48112;
  -webkit-transition: .2s;
  transition: .2s;
}

.resume-link:hover span {
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.resume-link span {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: .2s;
  transition: .2s;
}

.color-cop {
  color: #c48112;
}

.margin-right {
  margin-right: 0;
}

.visible {
  visibility: visible;
}

.head-wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */