@media screen and (max-width: 1600px)
   .offer-block
      top: 22%
@media screen and (max-width: 1450px)
   .portfolio-block
      width: 75%
      left: 12%
@media screen and (max-width: 1250px)
   .h1
      font-size: 40px
   .job-text
      font-size: 20px
   .site-desc
      margin-top: 11px
   .phone
      font-size: 19px
   .port-item
      width: 240px
      height: 310px
   .num_port
      font-size: 210px
   .num-port1
      left: -7.7%
   .num-port2
      left: 28%
   .num-port3
      left: 64%
@media screen and (max-width: 1140px)
   .port-item
      width: 220px
      height: 280px
@media screen and (max-width: 1110px)
   .num-port2
      left: 27%
   .num-port3
      left: 63%
@media screen and (max-width: 1060px)
   .num_port
      font-size: 195px
   .port-item
      width: 210px
      height: 270px
@media screen and (max-width: 1024px)
   .cop-rect
      left: 14.5%
   .h1
      font-size: 32px
   .job-text
      font-size: 18px
   .phone
      font-size: 18px
   .site-desc
      margin-top: 10px
   .offer-block
      top: 22%
   .port-item
      width: 200px
      height: 260px
   .num_port
      font-size: 180px
   .num-port1
      left: -7.3%
   .num-port2
      left: 27.5%
   .num-port3
      left: 64%
   .about-me-info-block
      padding: 20px 5px 20px 50px
   .footer
      left: 43%
   .about-me-link:hover
      box-shadow: none
   .icon-circle:hover
      transform: none
      box-shadow: none
      &:nth-child(2)
         transform: none
         box-shadow: none
      &:nth-child(3)
         transform: none
         box-shadow: none
@media screen and (max-width: 950px)
   .h1
      font-size: 45px
   .about-main-block
      width: 70%
   .about-me-info-block
      padding-left: 25px
      padding-right: 20px
   .offer-block
      display: block
      top: 19.5%
   .main-left-block
      align-items: center
   .main-right-block
      align-items: center
   .site-desc
      font-size: 18px
      margin-top: 33px
   .cop-rect
      height: 180px
   .job-text
      font-size: 20px
   .phone
      font-size: 24px
   .about-me-info-block
      font-size: 18px
      right: 40px
   .resume-link
      font-size: 20px
   .portfolio-block
      width: 84%
      left: 8%
      top: 60%
   .port-item
      height: 280px
   .num-port1, .num-port2, .num-port3
     top: -61%
   .num-port1
      left: 7.7%
   .num-port2
      left: 41.5%
   .num-port3
      left: 77%
   .about-me-link
      background: rgba(0,0,0,.78)
      width: 40px
      &:hover
         box-shadow: none
   .social-block
      width: 40px
      background: rgba(0,0,0,.78)
@media screen and (max-width: 823px)
   .offer-block
      left: 22.5%
   .port-item
      width: 198.5px
      height: 145px
   .phone
      color: #c48112
   .site-desc
      color: #0A0B0B
      font-weight: 400
   .portfolio-block
      width: 80%
      left: 10%
   .num_port
      font-size: 80px
   .num-port1, .num-port2, .num-port3
     top: -32%
   .num-port1
      left: -3.9%
   .num-port2
      left: 29.5%
   .num-port3
      left: 65%
@media screen and (max-width: 823px)
   .site-desc
      margin-top: 25px
   .about-me-info-block
      font-size: 16px
@media screen and (max-width: 768px)
   .site-desc
      color: #aaa
@media screen and (max-width: 740px)
   .num_port
      display: none
   .site-desc
      margin-top: 15px
   .phone
      font-size: 22px
   .port-item
      width: 193px
      height: 140px
   .about-me-info-block
      font-size: 16px
   .close
      right: 11%
@media screen and (max-width: 736px)
   .site-desc
      margin-top: 30px
@media screen and (max-width: 731px)
   .site-desc
      margin-top: 33px
   .portfolio-block
      width: 83%
      left: 8.5%
@media screen and (max-width: 730px)
   .h1
      font-size: 40px
   .job-text
      font-size: 18px
@media screen and (max-width: 667px)
   .h1
      font-size: 34px
   .job-text
      font-size: 15px
   .site-desc
      font-size: 16px
      margin-top: 41px
   .phone
      font-size: 18px
   .port-item
      width: 170px
      height: 120px
   .portfolio-block
      width: 79%
      left: 10.5%
   .footer
      font-size: 9px
      left: 41%
@media screen and (max-width: 640px)
   .h1
      font-size: 35px
   .job-text
      font-size: 16px
   .site-desc
      margin-top: 28px
   .port-item
      width: 170px
      height: 125px
   .about-me-info-block
      font-size: 14px
   .portfolio-block
      width: 83%
      left: 8.5%
@media screen and (max-width: 600px)
   .h1
      font-size: 33px
   .job-text
      font-size: 14px
@media screen and (max-width: 568px)
   .h1
      font-size: 32px
   .job-text
      font-size: 15px
   .site-desc
      font-size: 16px
      margin-top: 23px
   .phone
      font-size: 18px
   .port-item
      width: 146px
      height: 110px
   .portfolio-block
      width: 78%
      left: 11%
   .footer
      font-size: 9px
      left: 41%
   .resume-link
      margin: 20px 0
@media screen and (max-width: 545px)
   .main-left-block
      text-align: center
@media screen and (max-width: 414px)
   body
      height: 1632px
   .about-main-block
      width: 100%
   .about-me-info-block
      font-size: 16px
   .resume-link
      font-size: 18px
   h1
      text-align: center
   .job-text
      font-size: 17px
      text-align: center
      margin-top: 15px
   .site-desc
      color: #fff
      font-size: 16px
      font-weight: 300
      margin-top: 152px
   .main-right-block
      width: 200px
   .phone
      font-size: 22px
      width: 175px
   .about-me-text span
      color: #c48112
   .footer
      left: 29%
   .close
      right: 8%
   .num_port
      display: block
      font-size: 90px
   .num-port1
      top: -2%
      left: 4%
   .num-port2
      top: 32%
      left: 4%
   .num-port3
      top: 66%
      left: 4%
   .about-me-info-block
      right: 40px
   .icon-circle:hover
      transform: none
      box-shadow: none
      &:nth-child(2)
         transform: none
         box-shadow: none
      &:nth-child(3)
         transform: none
         box-shadow: none
   .portfolio-block
      flex-direction: column
      top: 46.4%
      margin-left: 8px
   .port-item
      width: 330px
      height: 180px
      margin-top: 95px
   .footer
      font-size: 10px
      left: 32%

@media screen and (max-width: 411px)
   body
      height: 1622px
   .port-item
      width: 333px
      margin-top: 80px
   .num-port3
      top: 65%
      left: 4%
   .cop-rect
      height: 160px
@media screen and (max-width: 375px)
   body
      height: 1480px
   .portfolio-block
      margin-left: -1px
      margin-top: 30px
   .num-port1
      top: -1.5%
   .port-item
      width: 295px
      height: 150px
      &:first-child
         margin-top: 95px
@media screen and (max-width: 360px)
   body
      height: 1420px
   .portfolio-block
      margin-left: 10px
   .num-port1
      top: -1.5%
   .port-item
      width: 295px
      height: 150px
      &:first-child
      margin-top: 95px
@media screen and (max-width: 320px)
   body
      height: 1260px
   .about-me-info-block
      font-size: 14px
   .resume-link
      font-size: 16px   
   .site-desc
      font-size: 16px
      font-weight: 200
      margin-top: 99px
   .main-right-block
      width: 185px
   .num-port1
      top: 2%
      left: -12.5%
   .num-port2
      top: 35%
      left: -12.5%
   .num-port3
      top: 68.5%
      left: -12.5%
   .portfolio-block
      top: 50%
   .port-item
      width: 257px
      height: 150px
      margin-top: 30px
      margin-left: 14px
   .phone
      width: 175px